{{- range .AllTranslations -}}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" />
{{- end -}}
{{- with index .AllTranslations 0 }}
  <link rel="alternate" hreflang="x-default" href="{{ .Permalink }}" />
{{- end -}}
{{- with .Site.Home.OutputFormats.Get "RSS" -}}
  <link rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" href="{{ .RelPermalink }}" />
{{- end -}}
{{- if and .IsPage (eq .Section "posts") }}
  {{- $iso := "2006-01-02T15:04:05-07:00" }}
  {{- $author := dict "@type" "Person" "name" site.Params.author.name "url" ("about/" | absLangURL) }}
  {{- $ld := dict "@context" "https://schema.org" "@type" "BlogPosting" "headline" .Title "description" (partial "utils/page-description.html" . | strings.TrimSpace | htmlUnescape) "datePublished" (.PublishDate.Format $iso) "dateModified" (.Lastmod.Format $iso) "inLanguage" .Language.Lang "mainEntityOfPage" .Permalink "url" .Permalink "image" (index site.Params.images 0 | absURL) "keywords" (delimit (.Params.tags | default slice) ", ") "author" $author "publisher" $author }}
  <script type="application/ld+json">{{ $ld | jsonify | safeJS }}</script>
{{- else if .IsHome }}
  <meta name="naver-site-verification" content="c91c2f4cce3d74c43886decdda10064a3f78fb50" />
  {{- $ld := dict "@context" "https://schema.org" "@type" "WebSite" "name" site.Title "url" .Permalink "inLanguage" .Language.Lang }}
  <script type="application/ld+json">{{ $ld | jsonify | safeJS }}</script>
{{- end }}
